<html>
  {{template "header.html"}}
<body>
  {{template "nav.html"}}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/lang-logo.png">
    </a>
    <h1>Slack x Spotify</h1>
      <p>This application syncs your currently playing spotify song into any slack workspace as your status. No other statuses will be overwritten. All UI is performed through the Slack app.</p>
      <a type="button" class="btn btn-lg btn-default" href="https://github.com/RolfLewis/spotify-status-sync"><span class="glyphiconglyphicon-flash"></span> Source on GitHub</a>
      <a href="https://slack.com/oauth/v2/authorize?client_id=1999328070098.1996256714565&scope=users:write&user_scope=users.profile:read,users.profile:write">
        <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
      </a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>What your status will look like</h3>
      <p>This app sets your status to a generated message containing the name of the song, the artist(s), and the fact that you're listening on spotify. It also sets the status emoji as a musical note. For example, if you're listening to Rodeo by Lil Nax X and Cardi B, your status would become 'Listening to "Rodeo" by Lil Nas X, Cardi B on Spotify'</p>
    </div>
    <div class="col-md-6">
      <h3>Feature Requests</h3>
      <p>If you have feature requests, feel free to open an issue in the project repository linked above.</p>
    </div>
  </div> <!-- row -->
  <div class="alert alert-info text-center" role="alert">
    This project was build by a single developer, with no connections or ties to Spotify or Slack as organizations. All copyright of the involved applications, and the music/art which is served through Spotify, is property of the underlying parties. I make no money or financial benefit off of the use of these platforms or the content.
  </div>
</div>

</body>
</html>
